html {
  height: 100%;
  font-size: 10vw;
}
body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  html {
    font-size: 37.5px;
  }
  body {
    min-width: 375px;
  }
}
@media screen and (min-width: 650px) {
  html {
    font-size: 65px;
  }
  body {
    max-width: 650px;
  }
}
* {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style-type: none;
}
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ececec;
}
header {
  text-align: center;
  line-height: 60px;
  position: absolute;
  height: 60px;
  top: 0;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
header,
footer {
  background: #ececec;
}
.page1 {
  height: 20%;
  background: rgb(77, 170, 73);
}
.chat-page,
.chat-info-page {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.chat-main-wrap {
  height: calc(100vh - 120px);
  padding: 60px 0;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff;
}
.chats-info-wrap{
  background: #ededed;
}
.chat-main-wrap > .row {
  display: flex;
  height: 60px;
  line-height: 60px;
  padding-left: 16px;
}
.chat-main-wrap > .chatRow {
  display: flex;
  padding:  40px 16px 0 10px;
}
.chat-main-wrap > .chatRow > .user-icon {
  flex: 0 0 15%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.chat-main-wrap > .chatRow > .user-name {
  flex: 0 0 85%;
  border-bottom: 1px solid #ededed;
}
.chat-main-wrap .user-msg-wrap{
  display: flex;
  flex-flow: column;
}
.chat-main-wrap .user-msg-wrap span:nth-child(1){
    color: #a5a5a5;
    font-size: 14px;
}
.chat-main-wrap .user-msg-wrap span:nth-child(2){
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}
.chat-main-wrap > .chatRow > .user-icon > img {
  display: block;
  background: url(./icon/icon.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  border-radius: 6px;
}
.chat-main-wrap > .row > .user-icon {
  flex: 0 0 15%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.chat-main-wrap > .row > .user-icon > img {
  display: block;
  background: url(./icon/icon.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  border-radius: 6px;
}
.chat-main-wrap > .row > .user-name {
  flex: 0 0 85%;
  border-bottom: 1px solid #ededed;
}
.chat-footer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat-footer > li {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.chat-footer > li > .iconfont {
  color: #4f4f4f;
  font-size: 26px;
}
.chat-footer > li > .chat {
  color: #00c15f;
}
.zh-name {
  color: #4f4f4f;
  font-size: 12px;
  margin-top: 2px;
}
.info-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.info-header > li > .iconfont {
  color: #4f4f4f;
  font-size: 26px;
}
.info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
}
.footer-inputer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.footer-inputer-wrap span {
  font-size: 26px;
}
.inputer-wrap {
  min-height: 36px;
  width: 230px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  word-break:break-all;
}
.inputer-wrap:focus{
  outline: none;
}
#groupInfo .chat-main-wrap{
  background: #ececec;
}
#groupInfo .info-header{
  background: #fff;
}
.group-imgs-wrap ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding:0 20px;
  background: #fff;
}
.group-imgs-wrap ul li{
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 10px 0;
  flex: 0 0 20%;
}
.group-imgs-wrap ul li .user-icon{
  flex: 0 0 15%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.group-imgs-wrap ul li .user-name{
  font-size: 12px;
  color: #8b8c8b;
}
.group-imgs-wrap ul li .user-icon img{
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 68%;
  border-radius: 6px;
  margin: 0 auto;
}
.group-imgs-wrap .more-member{
  font-size: 13px;
  color: #8b8c8b;
  padding: 20px;
}

.group-info{
  margin-top: 14px;
  background: #fff;
  padding: 0 0px 0 20px;
}
.group-info div{
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f4f4f4;
}
.group-info div p:nth-child(2){
  color: #8b8c8b;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.group-info div span:nth-child(2){
  display: inline-block;
  font-size: 24px;
  margin-left: 14px;
  transform-origin: center;
  transform: rotate(180deg);
}
.group-info .exit-clear{
  justify-content: center;
  color: red;
}
.in-animation {
  animation: inAnimation 0.8s;
}
.out-animation {
  z-index: 999;
  animation: outAnimation 0.8s;
}
.top-animation {
  animation: topAnimation 0.8s;
}
.bottom-animation {
  animation: bottomAnimation 0.8s;
}

@keyframes inAnimation {
  from {
    transform: translateX(380px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes outAnimation {
  form {
    transform: translateX(0px);
  }
  to {
    transform: translateX(380px);
  }
}
@keyframes topAnimation {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes bottomAnimation {
  form {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}